<h2>Current rates</h2>
<p>EUR to USD: <%= current_rates[['EUR', 'USD']] %></p>
<p>USD to EUR: <%= current_rates[['USD', 'EUR']] %></p>
<p>EUR to CHF: <%= current_rates[['EUR', 'CHF']] %></p>
<p>CHF to EUR: <%= current_rates[['CHF', 'EUR']] %></p>

<h2>Convert currency</h2>

<form>
  Convert <input name="input_value"></input>
  <select name="from_currency">
    <option selected>EUR</option>
    <option>USD</option>
    <option>CHF</option>
  </select>
  to
  <select name="to_currency">
    <option selected>USD</option>
    <option>EUR</option>
    <option>CHF</option>
  </select>
  = RESULT

  <button name="submit_button" value="value" type="submit">Convert</button>
</form>

<h2>Historical rates</h2>
