<h2>Current rates</h2>
<p>EUR to USD: <%= current_rates[['EUR', 'USD']] %></p>
<p>USD to EUR: <%= current_rates[['USD', 'EUR']] %></p>
<p>EUR to CHF: <%= current_rates[['EUR', 'CHF']] %></p>
<p>CHF to EUR: <%= current_rates[['CHF', 'EUR']] %></p>

<h2>Convert currency</h2>
Convert <input></input>
<select>
  <option selected>EUR</option>
  <option>USD</option>
  <option>CHF</option>
</select>
to
<select>
  <option selected>USD</option>
  <option>EUR</option>
  <option>CHF</option>
</select>
= RESULT

<h2>Historical rates</h2>
