<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Currancy Data Challenge</title>
  </head>
  <body>
      <h1>Currency Data Challenge</h1>

    <%= yield %>

  </body>
</html>
