<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Currency Data Challenge</title>
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
    <script src="Chart.bundle.js"></script>
  </head>
  <body>
      <h1>Currency Data Challenge</h1>

    <%= yield %>

  </body>
</html>
